@inject IRepairService repairService

@if (Show is true)
{
    <div class="modal fade show d-block" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Repair</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="OnCancel">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <EditForm Model="repair" class="modal-body">
                    <DataAnnotationsValidator />

                    <div class="form-group">
                        <label for="Date" class="control-label">Date</label>
                        <InputDateTime id="Date" class="form-control" @bind-Value="repair.CreatedDate" />
                        <ValidationMessage For="@(() => repair.CreatedDate)" />
                    </div>
                    <div class="form-group">
                        <label for="Name" class="control-label">Name</label>
                        <InputText id="Name" class="form-control" @bind-Value="repair.Name" />
                        <ValidationMessage For="@(() => repair.Name)" />
                    </div>
                    <div class="form-group">
                        <label for="Description" class="control-label">Description</label>
                        <InputText id="Description" class="form-control" @bind-Value="repair.Description" />
                        <ValidationMessage For="@(() => repair.Description)" />
                    </div>
                    <div class="form-group">
                        <label for="CarWorkshopName" class="control-label">CarWorkshopName</label>
                        <InputText id="CarWorkshopName" class="form-control" @bind-Value="repair.CarWorkshopName" />
                        <ValidationMessage For="@(() => repair.CarWorkshopName)" />
                    </div>

                </EditForm>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" data-dismiss="modal" 
                                                    @onclick="@(async () => await ConfirmAddRepairAsync())">Save</button>
                    <button type="button" class="btn btn-danger" @onclick="OnCancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    protected RepairDto repair = new();
    [Parameter] public VehicleDto Vehicle { get; set; }
    [Parameter] public bool Show { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public EventCallback OnConfirm { get; set; }

    internal async Task ConfirmAddRepairAsync()
    {
        repair.VehicleId = Convert.ToInt32(Vehicle.Id);
        await repairService.AddRepairAsync(repair);

        await OnConfirm.InvokeAsync();
    }
}