@page "/updateVehicle/{Id}"

@inject IVehicleService vehicleService
@inject NavigationManager navigationManager

<h1>Update Vehicle</h1>
<hr />

<div class="card col-2">
    <div class="card-body">
        <EditForm Model="vehicle" OnValidSubmit="(() => UpdateVehicleAsync(vehicle))">
            <DataAnnotationsValidator />

            <div class="form-group">
                <label for="BrandName" class="control-label">Brand Name</label>
                <InputText id="BrandName" class="form-control" @bind-Value="vehicle.BrandName"/>
                <ValidationMessage For="@(() => vehicle.BrandName)"/>
            </div>
            <div class="form-group">
                <label for="VinNumber" class="control-label">Vin Number</label>
                <InputText id="VinNumber" class="form-control" @bind-Value="vehicle.VinNumber"/>
                <ValidationMessage For="@(() => vehicle.VinNumber)"/>
            </div>
            <div class="form-group">
                <label for="PaintColor" class="control-label">Paint Color</label>
                <InputText id="PaintColor" class="form-control" @bind-Value="vehicle.PaintColor"/>
                <ValidationMessage For="@(() => vehicle.PaintColor)"/>
            </div>
            <div class="form-group">
                <label for="FuelType" class="control-label">Fuel Type</label>
                <InputText id="FuelType" class="form-control" @bind-Value="vehicle.FuelType"/>
                <ValidationMessage For="@(() => vehicle.FuelType)"/>
            </div>
            <div class="form-group">
                <label for="Mileage" class="control-label">Mileage</label>
                <input id="Mileage" class="form-control" @bind-value="vehicle.Mileage"/>
                <ValidationMessage For="@(() => vehicle.Mileage)"/>
            </div>

            <button type="submit" class="btn btn-success">Save changes</button>
        </EditForm>
    </div>
</div>

@code {
    // Stores Vehicle ID taken from URI.
    [Parameter]
    public string Id { get; set; }

    // Stores the User Authentication State data.
    [CascadingParameter]
    protected Task<AuthenticationState> AuthState { get; set; }

    protected Vehicle vehicle = new();

    protected override async Task OnInitializedAsync()
    {
        // Gets Vehicle data asynchronously with ID from URI.
        vehicle = await vehicleService.GetVehicleByIdAsync(Convert.ToInt32(Id));
    }

    /// <summary>
    ///     Updates chosen <see cref="Vehicle"/> with changes made.
    /// </summary>
    /// <param name="vehicle"></param>
    /// <returns>A <see cref="Task"/> representing an asynchronous operation.</returns>
    protected async Task UpdateVehicleAsync(Vehicle vehicle)
    {
        // Gets the current user State.
        AuthenticationState authState = await AuthState;

        // If the current user state is not authenticated...
        if (authState.User.Identity.IsAuthenticated == false)
        {
            // Takes to homepage.
            navigationManager.NavigateTo("/", true);
        }

        // Otherwise...
        // Updates Vehicle with changes made.
        await vehicleService.UpdateVehicleAsync(vehicle);

        // Takes to Vehicles list page.
        navigationManager.NavigateTo("/vehicles", true);
    }
}
