@inject IPartService partService

@if (Show is true)
{
        <div class="modal fade show d-block" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Update Part</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="OnCancel">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <EditForm Model="Part" class="modal-body">
                        <DataAnnotationsValidator />

                        <div class="form-group">
                            <label for="Name" class="control-label"> Name</label>
                            <InputText id="CreatedDate" class="form-control" @bind-Value="Part.Name" />
                            <ValidationMessage For="@(() => Part.Name)" />
                        </div>
                            <div class="form-group">
                            <label for="BrandName" class="control-label">Brand Name</label>
                            <InputText id="Name" class="form-control" @bind-Value="Part.BrandName" />
                            <ValidationMessage For="@(() => Part.BrandName)" />
                        </div>
                            <div class="form-group">
                            <label for="Price" class="control-label">Price</label>
                            <InputNumber id="Price" class="form-control" @bind-Value="Part.Price" />
                            <ValidationMessage For="@(() => Part.Price)" />
                        </div>
                            <div class="form-group">
                            <label for="Amount" class="control-label">Amount</label>
                            <InputNumber id="Amount" class="form-control" @bind-Value="Part.Amount" />
                            <ValidationMessage For="@(() => Part.Amount)" />
                        </div>

                    </EditForm>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" data-dismiss="modal"
                                        @onclick="@(async () => await ConfirmPartUpdateAsync())"> Save </button>
                        <button type="button" class="btn btn-secondary" @onclick="OnCancel">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
}

@code {
    [Parameter] public PartDto Part { get; set; }
    [Parameter] public RepairDto Repair { get; set; }
    [Parameter] public bool Show { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public EventCallback OnConfirm { get; set; }

    internal async Task ConfirmPartUpdateAsync()
    {
        await partService.UpdatePartAsync(Part);

        await OnConfirm.InvokeAsync();
    }
}
